<div class="divPai">
    <div>
        <img class="imgCover" src="{{book.cover}}">
    </div>
    <div>
        <form id="form" action="/paymentBook/{{ book._id }}" method="POST">
            <div class="divDetailsItems">
                <span class="spamTitle">Title: </span>
                <span class="spamTitle">{{ book.title }}</span>
            </div>
            <div class="divDetailsItems">
                <span class="spamTitle">Price: </span>
                <span class="spamTitle">{{ book.price }}</span>
            </div>

            <input class="inputVisible" type="text" name="title" value='{{ book.title }}'>
            <input class="inputVisible" type="text" name="price" value='{{ book.price }}'>

            <input type="text" name="cardnumber" maxlength="16" placeholder="1234XXXX.XXXX.5678">
            <input type="text" name="expiredate" maxlength="5" placeholder="MM/YY">
            <input type="text" name="cvv" maxlength="3" placeholder="CVV">
            <input type="text" name="name" value='{{ user.userName }}' placeholder="Your name">

            {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
            {{/if}}
            <div>
                <button type="submit">Pay</button>
            </div>
            <div>
                <button type="button" onclick="javascript:history.back()">Go Back</button>
            </div>
        </form>
    </div>
</div>