
<div class="divPai">
    <div>
        <img class="imgCover" src="{{book.cover}}">
    </div>
    <div>
        <form id="form" action="/paymentBook/{{ book._id }}" method="POST">
            <div class="divDetailsItems">
              <input type="text" id="title" name="title" value=`<spam class="spamTitle">Title: </spam>
                <spam class="spamTitle" >{{ book.title }}</spam>`>
            </div>
            <div class="divDetailsItems">
                <spam class="spamTitle">Price: </spam>
                <spam class="spamTitle" id="price" name="price">{{ book.price }}</spam>
            </div>

            <input type="text" name="cardnumber" maxlength="16" placeholder="1234XXXX.XXXX.5678">
            <input type="text" name="expiredate" maxlength="5" placeholder="MM/YY">
            <input type="text" name="cvv" maxlength="3" placeholder="CVV">
            <input type="text" name="name" value='{{ user.userName }}' placeholder="Your name">
         
            {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
            {{/if}}

            <button type="submit">Pay</button>

            <button type="button" onclick="javascript:history.back()">Go Back</button>
        </form>
    </div>
</div>