<div class="divPai">
    <div>
        <img class="imgCover" src="{{book.cover}}">
    </div>
    <div>
        <form class="formPayment" id="form" action="/payment/{{ book._id }}" method="GET" enctype="multipart/form-data">
            <h2>Book Detail</h2>
            <div>
                <div class="divDetails">
                    <div class="divDetailsItems">
                        <spam class="spamTitle">Title: </spam>
                        <spam id="title" name="title">{{ book.title }}</spam>
                    </div>
                    <div class="divDetailsItems">
                        <spam class="spamTitle">Description:</spam>
                        <spam>{{ book.description }}</spam>
                    </div>
                    <div class="divDetailsItems">
                        <spam class="spamTitle">Price:</spam>
                        <spam name="price" class="spamTitle">{{ book.price }}</spam>
                    </div>
                </div>
                <button type="submit">Buy Book</button>
                <div>
                    <button type="button" onclick="javascript:history.back()">Go Back</button>
                </div>
            </div>
        </form>
    </div>
</div>